.home {
  background-color: #EEF2F5;
  max-width: 700px;
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.buttons-container {
  display: flex;
  max-width: 700px;
  padding: 0 40px 40px 40px;
  justify-content: space-around;
}

.bingo-message {
  min-height: 30px;
  color: #4C6776;
  margin-top: 10px;
}